<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="org.zerock.mapper.LolMapper">

	<insert id="insertList" parameterType="list">
    
	INSERT INTO 
  		lol_board (name, K, D, A, champ, victory)
  	VALUES
  	<trim suffixOverrides=",">
  		<foreach collection="list" item="item" separator=",">
  	(
	        #{item.teamn}, 
	        #{item.teamk},
	        #{item.teamd},
	        #{item.teama},
	        #{item.teamc},
	        #{item.victory}
    )
    	</foreach>
    </trim>
    
	</insert>


<!-- 
	<insert id="insert">
	INSERT INTO 
  		lol_board (teamn, teamk, teamd, teama, teamc, victory)
  	VALUES
  		(#{teamn}, #{teamk}, #{teamd}, #{teama}, #{teamc}, #{victory})
	</insert> 
-->

  <select id="getList" resultType="org.zerock.domain.LolVO2">
    
    <!-- <![CDATA[
	SELECT 
		bno bno,
		name teamn,
		K teamk,
		D teamd,
		A teama,
		champ teamc,
		victory victory,
		updatedate updateDate

		FROM lol_board
		
		WHERE bno > 0 Order By bno DESC
    ]]> 이 안에 있는건 단순한 텍스트로 해석된다. 188p -->
    
    select name, 
		COUNT(name) total,
	    COUNT(if(victory='승',1,null)) wincnt,
	    truncate((SUM(K) + SUM(A))/SUM(D) ,1 ) kda,
		truncate(count(if(victory='승',1,null)) / COUNT(name) * 100 , 0) winrate
	FROM lol_board 
	GROUP BY name
	ORDER BY winrate DESC, kda desc, total desc;

  </select>
  
  <select id="getChamp" resultType="org.zerock.domain.LolVO2">
  	SELECT champ,
  		COUNT(champ) total,
  		truncate(count(if(victory='승',1,null)) / COUNT(name) * 100 , 0) winrate
  	FROM lol_board
  	GROUP BY champ
	HAVING winrate != 100
  	ORDER BY winrate DESC, total desc
  	LIMIT 0, 15;
  </select>
  
  <insert id="registerOTP">
  	INSERT INTO lol_ip (IPv6)
  	VALUES (#{ipv6})
  </insert>
  
  <select id="getbestplayer" resultType="string">
     SELECT
      name,
      count(name)
      FROm lol_board
      WHERE champ = #{champ}
      GROUP BY name
      ORDER BY count(name) DESC
      LIMIT 1;
  </select>
  
  <select id="duo" resultType="org.zerock.domain.LolVO3">
     SELECT
     bno,
     name,
     K,
     D,
     A,
     champ,
     victory
     FROM lol_board
  </select>
  
</mapper>