<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="org.zerock.mapper.LolMapper">

	<insert id="insertList" parameterType="map">
    
    <![CDATA[
	INSERT INTO 
  		lol_board (teamn, teamk, teamd, teama, teamc, victory)
  	VALUES
  		(#{teamn}, #{teamk}, #{teamd}, #{teama}, #{teamc}, #{victory})
    ]]>

	</insert>


<!-- 
	<insert id="insert">
	INSERT INTO 
  		lol_board (teamn, teamk, teamd, teama, teamc, victory)
  	VALUES
  		(#{teamn}, #{teamk}, #{teamd}, #{teama}, #{teamc}, #{victory})
	</insert> 
-->
  
  
</mapper>